@charset "UTF-8";
/* CSS Document */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 395px;
}
h4 {
	color: #4C4D4F;
}
h5 {
	color: #fff;
	border-top: solid #f3f3f3 thin;
	border-bottom: solid #f3f3f3 thin;
	padding: 7px;
}
hr {
	margin-bottom: 3px !important;
}
.utk-prefooter-navigation {
	margin-left: 0;
	list-style: none;
	padding: 10px 0 0 10px;
	color: #CCC;
	font-size: 12px;
}
ul.utk-prefooter-navigation li a {
	color: #CCC;
}
.utk-welcome {
	color: #F77F00;
	font-weight: bold;
	padding-right: 10px;
}
#utk-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #4C4D4F;
	height: 172px;
}
#utk-header {
	background-image: url(/include/bg-body.jpg);
	background-repeat: repeat-x;
	height: 100px;
}
.utk-logo {
	margin-top: 33px;
}
.utk-search {
	width: 60%;
	float: right;
	clear: none;
	margin: 42px 20% 0 auto;
}
#utk-navbar {
	background-color: #f77f00;
	height: 15px;
	width: 100%;
	margin-bottom: 10px;
}
.input, input[type="password"], input[type="search"] {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}
#utk_seek input.searchbutton {
	margin-right: 0.79365%;
	margin-left: 0.79365%;
	width: 31.74603%;
	float: left;
	padding: 6px;
}
a.button, button, p.utalert-link a, input[type="submit"], input[type="search"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], textarea, select {
	border: 1px solid #ccc;
	padding: 10px;
	border: 1px solid #ccc;
	outline: none;
	color: #4c4d4f;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, "Helvetica Neau", Helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 7px;
	line-height: 12px;
	-webkit-border-radius: 14px;
	-ms-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 12px;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
#utk_seek input.searchfield {
	margin-right: 0.79365%;
	margin-left: 0.79365%;
	width: 65.07937%;
	float: left;
	background: #fff url(/include/sprite.png) 8px -319px no-repeat;
	padding: 6px;
	text-align: center;
	color: #8a8c8f;
}
#utk-content {
	min-height: 300px;
}
.utk-control {
	margin: 20px;
	padding: 25px 20px 15px 20px;
	background: #e6e7e8 url("/include/grey-gradient.jpg") repeat-x;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e7e8));
	background-image: -webkit-linear-gradient(top, #fff, #e6e7e8);
	background-image: -moz-linear-gradient(top, #fff, #e6e7e8);
	background-image: -ms-linear-gradient(top, #fff, #e6e7e8);
	background-image: -o-linear-gradient(top, #fff, #e6e7e8);
	border: 1px solid #d1d3d4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, .20);
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, .20);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, .20);
}
.utk-help {
	margin-top: .4em;
	padding: 10px;
}
.utk-help-small {
	font-size: 12px;
}
.utk-loginmeta {
	font-size: 12px;
}
#utk-prefooter {
	position: absolute;
	bottom: 130px;
	width: 100%;
	border-top: 5px solid #F77F00;
	background: #2C2D2E url(/include/bg-mainfooter.png) bottom left repeat-x;
	padding: 25px 0;
	float: left;
	width: 100%;
	height: 235px;
	margin-top: 20px;
}
#utk-footer p {
	text-align: center;
	font-size: 12px;
	color: #FFF;
}
.btn-warning {
	background-color: #f77f00;
	color: #FFF !important;
}
#indicia {
float: left;
width: 100%;
padding: 1em 0;
color: #CCCCCC;
background: #4C4D4F;
text-align: center;
}
#indicia h3 {
color: #CCCCCC;
font-family: Cambria, Georgia, Times, TimesNewRoman, "Times New Roman", serif;
font-style: italic;
}
#indicia h3 a {
color: #f0ede4;
display: block;
overflow: hidden;
background: url(/include/sprite.png) 50% -417px no-repeat;
margin: 0;
padding: 70px 0 0 0;
text-indent: -9999px;
height: 0px !important;
}

@media (max-width: 992px) {
.utk-search {
	display: none;
}
#utk-prefooter {
	height: 275px;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 420px;
}
}
 @media (max-width: 768px) {
#utk-prefooter {
	display: none;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 200px;
}
.utk-help {
	padding: 10px 35px 0px 35px;
}
}